@import "../../../styles.scss";
.content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  .btn {
    background-color: $blue-background;
    border-radius: $border-radius;
    color: $pure-white;
    cursor: pointer;
    padding: 1rem 1.25rem;
    font-size: $font-size-small;
  }
}

.config {
  display: flex;
  width: 37.5%;
  justify-content: space-between;
  font-size: $font-size-small;

  .input {
    background: transparent;
  }

  .entries {
    padding: 0.05rem;
    border-radius: $border-radius;
    width: 5rem;
    border: 2px solid $dark-grey;
  }

  .search {
    margin: 0 2.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $dark-grey;
  }
}

.data__table {
  margin-top: 3rem;

  .data__columns {
    display: flex;
    width: 100%;
    background-color: $grey-background;
    border-radius: $border-radius;
    justify-content: space-between;

    .data__column {
      padding: 1rem 2rem;
      color: $dark-grey;
      flex-basis: 20%;
      text-align: center;
      font-size: $font-size-smaller;
    }
  }

  .data__table-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    font-size: $font-size-large;
  }

  .tag {
    padding: 0.25rem 0.75rem;
    border-radius: $border-radius;
  }

  .add-on {
    background-color: $add-on-tag-background;
    color: $add-on-tag-color;
  }

  .primary {
    background-color: $primary-tag-background;
    color: $primary-tag-color;
  }

  .staging {
    background-color: lighten($staging-tag-color, 7.5%);
    color: darken($staging-tag-color, 20%);
  }

  .active {
    background-color: $active-tag-color;
    color: darken($active-tag-color, 50%);
  }

  .inactive {
    background-color: lighten($inactive-tag-color, 15%);
    color: darken($inactive-tag-color, 25%);
  }

  .data__row {
    margin: 1rem 0;

    .domain__details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: $pure-white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 1.75rem 0;
      color: $light-black;

      .domain__details--storage {
        justify-content: space-evenly;
      }

      .domain__details--monthly-visitor {
        justify-content: space-evenly;
      }

      .progress-bar {
        background-color: $blue-background-light;
        width: 80%;
        margin-bottom: 0.5rem;

        .status {
          background-color: $green-background;
          height: 1rem;
        }

        .domain-status {
          background-color: $blue-background;
        }
      }
    }

    .subdomain__details {
      background-color: $grey-background;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      color: darken($dark-grey, 20%);

      .data__row--subdomain {
        font-size: $font-size-medium;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: 1.5rem 0;
      }
    }
  }
}
