@import '../styles.scss';
.container {
    display: flex;

    & .sidebar {
        background-color: $blue-background;
        position: fixed;
        height: 100%;
        width: 15%;
    }
    
    & .content {
        position: relative;
        flex-basis: 85%;
        left: 15%;
    }
}