html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: #E7EEF7;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
